<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="order">
        <classes>
            <class name="HomePage" />
            <class name="NavigationPageValidation" />
            <class name="validateCourseName" />
        </classes>
    </test>
</suite>